@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --thumbBG: #845EC2;
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  position: absolute;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 10px;
}

html {
  background: lightgrey;
  overflow: hidden;
}

body {
  background: linear-gradient(143.34deg, #0E1F34 0%, #010B18 99.48%);
  color: #FFFFFF;
  margin: 0px;
  overflow-y: auto;
  padding: 0px;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.glassBackground {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}